.tps_main {
    display: none;
    position: absolute;
    width: 300px;
    height: 500px;
    background-color: darkkhaki;
    left: var(--pos-tps-left);
    top: var(--pos-tps-top);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 3rem 2rem 1rem 1rem repeat(6, auto);
    grid-template-areas: "head head head head head" "sys sys dpt out out" "det det det out out" "det det det out out" "tgl tgl tgl . ." ". topS topS . ." ". img img . ." "leftS img img rightS ." ". img img . ." ". botS botS . ." ". . . . .";
    grid-gap: 5px 10px;
    text-align: center;
}

.tps_head {
    grid-area: head;
    background-color: brown;
}

.tps_sys {
    grid-area: sys;
    background-color: aqua;
}

.tps_dpt {
    grid-area: dpt;
    background-color: darkgray;
}

.tps_det {
    grid-area: det;
    background-color: rgb(216, 16, 16);
}

.tps_output {
    grid-area: out;
    background-color: rgb(43, 9, 236);
}

.tps_tgl {
    background-color: darkred;
    grid-area: tgl
}

.tps_img {
    grid-area: img;
    background-color: gold;
}

.leftS {
    grid-area: var(--gr-sel-l);
    background-color: crimson;
    height: 1rem;
}

.rightS {
    grid-area: var(--gr-sel-r);
    background-color: crimson;
    height: 1rem;
}

.topS {
    grid-area: var(--gr-sel-t);
    background-color: crimson;
    height: 1rem;
}

.botS {
    grid-area: var(--gr-sel-b);
    background-color: crimson;
    height: 1rem;
}