.img_cont {
    display: block;
    position: relative;
    width: 152px;
    height: 252px;
    background-color: darkolivegreen;
    background-image: url('../assets/rama/f.min.svg');
    background-size: 100% 100%;
    background-position: 0;
    background-repeat: round;
}

.img_side {
    position: absolute;
    display: flex;
    cursor: pointer;
    /* background-color: blueviolet; */
    opacity: 1;
    z-index: 4;
    border: 1px solid #5da31b;
    transition: all .2s;
    justify-content: center;
    align-items: center;
}

.tps_main ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

span[output] {
    display: inline-block;
    font-size: 20px;
    color: #300b0b;
    font-weight: bolder;
    position: inherit;
    text-align: center;
    padding: 0;
    margin: 0;
    background: darkgray;
    transition: all .4s;
}

span[output]:hover {
    background: none
}

span[output]:active {
    color: beige;
    font-size: 15px;
}

span:is([output=top],
[output=bot],
[output=left],
[output=right]) {
    background: rgba(173, 216, 230, 0.603);
}

span:is([output=right],
[output=left]) {
    top: 50%;
    transform: rotate(270deg);
}

.drop_content li {
    border-top: 2px solid rgb(110, 110, 110);
    border-bottom: 2px solid #000000;
}

.tps_sys_content li {
    border-top: 2px solid rgb(110, 110, 110);
    border-bottom: 2px solid #000000;
}

.img_side[data-side="top"] {
    top: 0;
    width: 150px;
    height: 20px;
    z-index: 5;
}

.img_side[data-side="left"] {
    left: 0px;
    width: 20px;
    height: 250px;
    z-index: 5;
}

.img_side[data-side="bot"] {
    bottom: 0;
    width: 150px;
    height: 20px;
    z-index: 5;
}

.img_side[data-side="right"] {
    right: 0;
    width: 20px;
    height: 250px;
    z-index: 5;
}

.img_side:is([current]) {
    opacity: .3;
}

[data-side="top"] .drop_content {
    left: 0;
    bottom: 20px;
}

[data-side="bot"] .drop_content {
    left: 0;
    top: 20px;
}

[data-side="right"] .drop_content {
    left: 20px;
    height: fit-content;
    width: 100px;
    z-index: 105;
    /* bottom: 20px; */
}

[data-side="left"] .drop_content {
    right: 20px;
    height: fit-content;
    width: 100px;
    /* bottom: 20px; */
}

[data-side="depth"] .drop_content {
    width: fit-content;
    top: 1rem;
}

.drop_content {
    position: absolute;
    background-color: rgb(49, 49, 49);
    color: antiquewhite;
    display: none;
    z-index: 100;
    opacity: 0;
    width: 100%;
    height: fit-content;
    /* border: 1px solid black */
}

.img_side:hover>.drop_content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    justify-self: center;
    opacity: 1;
}

.drop_content li:hover {
    opacity: 1;
    background-color: #869ff1;
}

.tps_output {
    grid-area: out;
    background-color: rgb(115, 100, 201);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 3px;
    padding: 7px 5px 0px 5px;
}

.tps_output span {
    display: inline-block;
}

.tps_output div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted black;
    font-size: 1.1rem;
}

.tps_output div>span:first-child {
    font-weight: bolder;
}

.tps_size {
    background-color: #869ff1;
    display: flex;
    grid-area: size;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
}

.tps_size input[type=text] {
    appearance: none;
    width: 60px;
    /* height: 40px; */
    text-align: center;
    /* font-size: 1.2rem; */
}

.tps_button {
    grid-area: btn;
    width: 100%;
    background-color: #300b0b;
}


/* .tps_button button {
    width: 100%;
    height: 100%;
} */

.tps_btn {
    width: 100%;
    height: 100%;
}