.img_cont {
    display: block;
    position: relative;
    width: 152px;
    height: 252px;
    background-color: darkolivegreen;
    background-image: url('../assets/rama/f.min.svg');
    background-size: 150px 250px;
    background-position: 0;
    background-repeat: round;
}

.img_side {
    position: absolute;
    display: block;
    cursor: pointer;
    /* background-color: blueviolet; */
    opacity: 1;
    z-index: 4;
    border: 1px solid red;
    transition: all .2s;
}


/* .img_side:hover {
    background-color: gray;
    z-index: 6;
} */

.img_side[data-side="top"] {
    top: 0;
    width: 150px;
    height: 20px;
    z-index: 5;
}

.img_side[data-side="left"] {
    left: 0px;
    width: 20px;
    height: 250px;
    z-index: 5;
}

.img_side[data-side="bot"] {
    bottom: 0;
    width: 150px;
    height: 20px;
    z-index: 5;
}

.img_side[data-side="right"] {
    right: 0;
    width: 20px;
    height: 250px;
    z-index: 5;
}

.img_side:is([current]) {
    opacity: .3;
}

[data-side="top"] .side_content {
    left: 0;
    bottom: 20px;
}

[data-side="bot"] .side_content {
    left: 0;
    top: 20px;
}

[data-side="right"] .side_content {
    left: 20px;
    height: 100%;
    width: max-content;
    /* bottom: 20px; */
}

[data-side="left"] .side_content {
    right: 20px;
    height: 100%;
    width: max-content;
    /* bottom: 20px; */
}

.side_content {
    position: absolute;
    background-color: aliceblue;
    display: none;
    z-index: 100;
    opacity: 0;
    width: 100%;
    border: 1px solid black
}

.img_side:hover>.side_content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    justify-self: center;
    opacity: 1;
    row-gap: 10px;
}

.side_content :is(p,
article):hover {
    opacity: 1;
    background-color: aqua;
}


/* .side_content1 {
    position: absolute;
    background-color: aliceblue;
    display: none;
    left: 20px;
    flex-flow: column nowrap;
    opacity: 0;
    height: 100%;
    /* padding-left: 12px; 
    border: 1px solid black;
    z-index: -1;
    transition: all .5s;
    justify-content: center;
}

.img_side:hover>.side_content1 {
    display: flex;
    left: 20px;
    justify-content: center;
    align-items: stretch;
    opacity: 1;
    z-index: 101;
    row-gap: 15px;
} */