.tgl_box {
    display: block;
    position: relative;
    width: 42px;
    height: 22px;
    background-color: darkred;
    border: 1px solid black;
    border-radius: 4px;
    margin: 0 auto;
    cursor: pointer;
    transition: all .2s;
}

.tgl_thumb {
    display: block;
    position: absolute;
    transition: all .2s;
    background-color: rgb(30, 174, 210);
    height: 20px;
    width: 24px;
    border: 1px inset #4b4b4b;
    border-radius: 4px;
    cursor: pointer;
}

.tgl_box::before {
    content: 'Фикса';
    position: absolute;
    right: 110%;
    top: 10%;
    cursor: default;
    font-weight: bold;
    border-bottom: 3px solid black;
    cursor: default;
    font-weight: bold;
    background-blend-mode: hue;
    border-radius: 5px;
}

.stv_bg.tgl_box::before {
    opacity: .3;
    cursor: pointer;
    font-weight: normal;
    border: none;
}

.fix_bg.tgl_box::before {
    opacity: 1;
}

.tgl_box::after {
    content: 'Створка';
    position: absolute;
    left: 110%;
    top: 10%;
    background-blend-mode: hue;
    border-radius: 5px;
    cursor: default;
    font-weight: bold;
    border-bottom: 3px solid black;
}

.stv_bg.tgl_box::after {
    opacity: 1;
}

.fix_bg.tgl_box::after {
    opacity: .3;
    cursor: pointer;
    font-weight: normal;
    border: none;
}

.tgl_thumb[data-tgl-status='fix'] {
    left: 0px;
}

.tgl_thumb[data-tgl-status='stv'] {
    left: 16px;
}

.stv_bg {
    background-color: darkred;
}

.fix_bg {
    background-color: darkred;
}

.tgl_big_box {
    display: flex;
    position: relative;
    height: 60px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 5px;
    margin-left: 5px;
}

.tgl_big_item {
    display: flex;
    border: 2px ridge brown;
    font-size: 1rem;
    height: 32px;
    width: 108px;
    place-items: center;
    text-align: center;
    font-weight: 700;
    transition: all .3s ease-in;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 5;
    border-collapse: collapse;
}


/* .tgl_big_item:hover {
    background-color: lightgray;
    background-size: 120% 100%;
} */

:is(.btn_rama, .btn_svet)>span {
    display: block;
    width: 100%;
    height: 30px;
    transition: all .3s;
    text-align: center;
}

.active {
    background-color: #168ec5;
    border: 4px ridge brown;
    border-radius: 5px;
    /* text-transform: uppercase; */
    font-size: 1rem;
    color: #dfdfdf;
    z-index: 400;
}

.btn_rama .tgl_big_item[data-tgl-status='stv']:after {
    content: 'Створке';
    margin: 2px auto;
    z-index: 190;
}

.tgl_big_item[data-tgl-status='fix']:after {
    content: 'Фиксе';
    margin: 2px auto;
    z-index: 100;
}

.tgl_big_item[data-tgl-status='svet']:after {
    content: 'По свету';
    margin: 2px auto;
    z-index: 100;
}

.tgl_big_item[data-tgl-status='gls']:after {
    content: 'По стеклу';
    margin: 2px auto;
    z-index: 100;
}

.tgl_big_item::before {
    content: "";
    background-color: #168ec5;
    position: absolute;
    transition: all .3s ease;
    left: 50%;
    top: 50%;
    height: 100%;
    width: 0%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

[data-tgl-status=info] {
    margin: 4px 2px;
    padding: 0;
    width: min-content;
    text-align: center;
}

[data-tgl-status=info]::before {
    border: none;
    background: none;
}

[data-tgl-status=info]:hover::before {
    border: none;
    background: none;
}

.tgl_big_item:hover::before {
    width: 100%;
}

.btn_svet {
    position: relative;
    display: flex;
    width: 150px;
    height: 71px;
    background-color: bisque;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.479);
    z-index: 1;
}

.btn_rama {
    position: relative;
    display: flex;
    width: 225px;
    height: 64px;
    background-color: bisque;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #000;
    z-index: 1;
}