.tps_main {
    display: grid;
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: darkkhaki;
    left: var(--pos-tps-left);
    top: var(--pos-tps-top);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 3rem 2rem 1rem 1rem 24px 32px auto 32px auto 32px auto;
    grid-template-areas: "head head head head head" "sys sys dpt out out" "det det det out out" "det det det out out" "tgl tgl tgl out out" ". topS topS topS ." ". img img img ." "leftS img img img rightS " ". img img img ." ". botS botS botS ." ". . . . .";
    grid-gap: 5px 10px;
    text-align: center;
}

.tps_head {
    grid-area: head;
    background-color: brown;
}

.tps_sys {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: sys;
    position: relative;
    background-color: gray;
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;
}

.tps_sys_content {
    display: none;
    /* padding-top: 0.8rem; */
}

.tps_sys:hover .tps_sys_content {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    top: 100%;
    width: 100%;
    height: max-content;
    background-color: #3b3b3b;
    color: aliceblue;
    z-index: 100;
}

.tps_sys_content li:hover:not(.selected) {
    background-color: #e79418;
    cursor: pointer;
    z-index: 101;
    /* margin: 3px 0; */
}

.selected {
    background-color: rgb(146, 146, 146);
    color: black;
    font-weight: bolder;
    font-size: 1.2rem;
}

.tps_dpt {
    grid-area: dpt;
    background-color: darkgray;
}

.tps_det {
    grid-area: det;
    background-color: rgb(216, 16, 16);
}

.tps_output {
    grid-area: out;
    background-color: rgb(115, 100, 201);
}

.tps_tgl {
    /* background-color: darkred; */
    grid-area: tgl
}

.tps_img {
    display: grid;
    grid-area: img;
    background-color: gold;
    place-items: center;
}

.leftS {
    grid-area: var(--gr-sel-l);
    background-color: crimson;
    /* height: 1rem; */
}

.rightS {
    grid-area: var(--gr-sel-r);
    background-color: crimson;
    /* height: 1rem; */
}

.topS {
    grid-area: var(--gr-sel-t);
    background-color: crimson;
    /* height: 1rem; */
}

.botS {
    grid-area: var(--gr-sel-b);
    background-color: crimson;
    /* height: 1rem; */
}