.tps_main {
    display: grid;
    position: absolute;
    width: 450px;
    height: 600px;
    background-color: darkkhaki;
    left: var(--pos-tps-left);
    top: var(--pos-tps-top);
    grid-template-columns: repeat(3, 1fr) 100px 100px;
    grid-template-rows: 3rem 2rem 3rem 1rem 24px 32px 48px auto 32px auto 32px;
    grid-template-areas: "head head head head head" "sys sys dpt out out" "det det det out out" "det det det out out" "size size size out out" "size size size out out" "tgl tgl tgl tgl tgl" ". img img img ." "leftS img img img rightS " ". img img img ." ". botS botS botS .";
    grid-gap: 5px 10px;
    text-align: center;
}

.tps_head {
    grid-area: head;
    background-color: brown;
}

.tps_sys {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: sys;
    position: relative;
    background-color: darkgray;
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;
}

.tps_sys_content {
    display: none;
    /* padding-top: 0.8rem; */
}

:is(.tps_sys, .tps_dpt)>.drop_content {
    display: none;
    opacity: 0;
}

:is(.tps_sys, .tps_dpt):hover .drop_content {
    display: flex;
    transition: all cubic-bezier(.62, .01, 10s, -0.09);
    position: absolute;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    top: 100%;
    width: 100%;
    height: max-content;
    background-color: #3b3b3b;
    color: aliceblue;
    z-index: 100;
    opacity: 1;
}

.drop_content li:hover:not(.selected) {
    background-color: #e79418;
    cursor: pointer;
    z-index: 101;
    /* margin: 3px 0; */
}

.selected {
    background-color: rgb(146, 146, 146);
    color: black;
    font-weight: bolder;
    font-size: 1.2rem;
}

.tps_dpt {
    grid-area: dpt;
    background-color: darkgray;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tps_det {
    grid-area: det;
    background-color: #d8101069;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    place-content: center;
}

.tps_tgl {
    /* background-color: darkred; */
    grid-area: tgl
}

.tps_img {
    display: grid;
    grid-area: img;
    background-color: gold;
    place-items: center;
}

.leftS {
    grid-area: var(--gr-sel-l);
    background-color: crimson;
    /* height: 1rem; */
}

.rightS {
    grid-area: var(--gr-sel-r);
    background-color: crimson;
    /* height: 1rem; */
}

.topS {
    grid-area: var(--gr-sel-t);
    background-color: crimson;
    /* height: 1rem; */
}

.botS {
    grid-area: var(--gr-sel-b);
    background-color: crimson;
    /* height: 1rem; */
}

.target_output {
    display: flex;
    position: relative;
    left: 600px;
    width: 400px;
    height: max-content;
    background-color: darkseagreen;
    text-align: stretch;
    flex-flow: column nowrap;
}