@import url('styles/TPSmain.css');
@import url('styles/selector.css');
@import url('styles/tgl_button.css');
:root {
    --pos-tps-left: 20px;
    --pos-tps-top: 20px;
    --gr-sel-t: topS;
    --gr-sel-r: rightS;
    --gr-sel-b: botS;
    --gr-sel-l: leftS;
}

.cont_bg {
    position: relative;
    background-color: darkgoldenrod;
    width: 600px;
    height: 600px;
}